 body {
  background-color: #154073;
  margin:0;
  padding:0;
 }

header {
  width:75vw;
  background-color: gray;
}

.container {
  display:flex;
  flex-direction: column;
  margin:auto;
  min-height:100vh;
  max-width:75vw;
}

.main {
  display:flex;
}

.content {
  flex:1;
  border:1px solid red;
  color: white;
  font-family: 'Cantarell', sans-serif;
  font-weight: 300;
  padding: 0;
}

.left {
  order:-1;
  border: 1px solid red;
  width:20vw;
}

.right {
  border: 1px solid red;
  width:20vw;
}

.logo {
  height: 200px;
  min-width:317px;
  padding: 0;
  background: url("./images/ola-logo-3d-inlinecrop-db-bgnd317x196.png") no-repeat;
}

footer {
  width:75vw;
}

footer > ul {
  display: flex;
  justify-content: center;
}

.footerList {
  width: 100px;
  height: 75px;
  margin: 10px;
  list-style-type: none;
  color: #CE2131;
}
